pyrogram
pytgcalls
pyromod
yt-dlp
youtubesearchpython
youtube-search
pytube
aiohttp
aiofiles
requests
wget
Pillow
googletrans==4.0.0-rc1
motor
pymongo
python-dotenv
telethon
tgcrypto
dnspython
ffmpeg-python
pytz

